* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-image: url("../img/oneway.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background-color: #343a41;
}

.navbar .navbar-brand {
  font-size: 28px;
  padding-left: 30px;
}

.navbar .nav-link {
  margin-right: 50px;
  font-size: 24px;
}

.navbar #navbarNav {
  padding-right: 30px;
}

.footerWeb {
  background-color: rgba(52, 58, 65, 0.8);
  color: #999da0;
  text-align: center;
  font-size: 18px;
}

.footerWeb a {
  text-decoration: none;
  color: #007bff;
}

.footerWeb a:hover {
  text-decoration: none;
}

.nav-list .nav-link {
  text-align: center;
  font-size: 26px;
  margin: 10px 45px;
}

.nav-list i {
  font-size: 40px;
}

.nav-list a {
  text-shadow: 0 0 4px #696876;
}

.border-primary {
  text-align: center;
  width: 20%;
  margin: 10% auto;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 2px #fff;
  -webkit-box-shadow: 0 0 10px #696876;
          box-shadow: 0 0 10px #696876;
}

.border-primary .card-header {
  font-size: 34px;
  color: #fff;
  background-color: rgba(52, 58, 65, 0.8);
  border-radius: 20px 20px 0 0;
}

.border-primary .btn {
  margin: 5px 20px 0 20px;
  border-radius: 10px;
}

.border-primary input {
  border-radius: 10px;
}

.jumbotron {
  width: 60%;
  padding: 40px;
  margin: 8%  auto;
  margin-bottom: 35px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px #696876;
          box-shadow: 0 0 10px #696876;
}

.jumbotron h1 {
  padding-bottom: 20px;
}

.jumbotron .hr {
  text-align: center;
}

.container {
  margin-top: 30px;
  margin: auto;
  width: 100%;
  justify-items: center;
}

.container .jumbotron {
  width: 100%;
}

.container img {
  width: 40%;
  margin-bottom: -330px;
  margin-left: 30%;
}

.container .jumbotron {
  padding-top: 245px;
}

.auteur {
  text-align: center;
}

.form-contact {
  width: 60%;
  margin: 8%  auto;
  border-radius: 0 25px 0 25px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px #696876;
          box-shadow: 0 0 10px #696876;
}

.form-contact .card-header {
  text-align: center;
}

.formCom label {
  font-size: 18px;
  font-weight: bold;
  -ms-flex-line-pack: center;
      align-content: center;
}

.formCom legend {
  text-align: center;
}

.comentCard {
  width: 50%;
  margin: 10px auto;
  border-radius: 0 25px 0 25px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px #696876;
          box-shadow: 0 0 10px #696876;
}

.comentCard .card-body {
  background-color: rgba(255, 255, 255, 0.86);
}

.comentCard i {
  font-size: 18px;
  margin-left: 5px;
}

.contaierIndexChapter {
  margin-top: 110px;
}

.indexChapter {
  width: 60%;
  margin: 20px auto;
  margin-bottom: 20px;
  border-radius: 0 25px 0 25px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px #696876;
          box-shadow: 0 0 10px #696876;
}

.indexChapter h3 {
  font-size: 24px;
}

.indexChapter .card-body {
  border-radius: 0 0 0 25px;
  background-color: rgba(255, 255, 255, 0.86);
}

.indexTitre {
  font-size: 38px;
  font-weight: bold;
  margin: 30px;
}
/*# sourceMappingURL=index.css.map */