$bluemenu: #007bff
$W-clear: rgba(234, 236, 239, .85)
    
*
    padding: 0
    margin: 0
html
    height: 100%
body
    background-image: url('../img/oneway.jpg')
    background-size: cover
    background-position: center
    background-attachment: fixed
//bootstrap modif
.navbar
    background-color: rgba(52,58 ,65 ,1)
    .navbar-brand
        font-size: 28px
        padding-left: 30px
    .nav-link
        margin-right: 50px
        font-size: 24px
    #navbarNav
        padding-right: 30px

.footerWeb
    background-color: rgba(52,58 ,65 ,.8)
    span
    color: #999da0
    text-align: center
    font-size:  18px
    a
        text-decoration: none
        color: $bluemenu
        &:hover
            text-decoration: none
.nav-list
    .nav-link
        text-align: center
        font-size: 26px
        margin: 0px 45px
        color: #000
        color: #999da0
        &:hover
            text-shadow: 2px 2px 2px #696876
    i
        font-size: 40px
        color: #999da0
    a
        text-shadow: 1px 1px 1px #696876
h1,h2,h3,h4,h5,h6,a,button
    text-shadow: 0.5px 0.5px 0.5px #000
    font-family: 'Open Sans Condensed', sans-serif;
p
    font-family: 'Lora', serif;
.erreur404
    margin-top: 35%
    h3
        font-size: 75px
        color: #999da0
    h4
        font-size: 35px
        color: #fff
.jumbotron
    border-radius: 10px
    background-color: $W-clear
.contHome        
    margin-top: 120px
    .card
        background-color: $W-clear
.contIndex
    margin-top: 120px
    .card
        background-color: $W-clear
.contAuthor
    margin-top: 120px
    .jumbotron
        margin-top: -200px
        padding-top: 190px
.contForm
    margin-top: 120px
    .card
        background-color: $W-clear
.contShowChap
    margin-top: 120px
    .card
        background-color: $W-clear
.contLogin
    margin-top: 190px
    .card
        background-color: $W-clear
        border-radius: 20px
.card
    padding: 0