$bluemenu: #007bff
*
    padding: 0
    margin: 0
html
    height: 100%
header 
    .titre
    color: #fff
    text-align: center
    background: rgba(52,58 ,65 ,.7)
    padding: 5px
//bootstrap modif
.navbar
    background-color: rgba(52,58 ,65 ,.7)
    padding: 12px
    .navbar-brand
        font-size: 28px
        padding-left: 30px
    .nav-link
        margin-right: 40px
        font-size: 20px
    #navbarNav
        padding-right: 30px
.footerWeb
    background-color: rgba(52,58 ,65 ,.8)
    span
    color: #999da0
    text-align: center
    font-size:  18px
    a
        text-decoration: none
        color: $bluemenu
        &:hover
            text-decoration: none
h1,h2,h3,h4,h5,h6,a,button
    font-family: 'Open Sans Condensed', sans-serif;
p
    font-family: 'Lora', serif;

.contAdmin
    margin-top: 10% 

.navbar-nav
    ul
        margin: auto