* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-image: url("../img/oneway.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

header h1 {
  color: #fff;
  font-size: 48px;
  padding: 10px;
  text-align: center;
}

menu {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  background-color: rgba(0, 0, 0, 0.2);
}

menu:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

menu p {
  font-size: 24px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0C72FF;
  padding: 10px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding-top: 5px;
}

ul li {
  margin: 0 20px;
  list-style: none;
  font-size: 22px;
}

ul li a {
  color: #fff;
  font-weight: bold;
}

ul li a:focus, ul li a:hover {
  text-decoration: none;
  color: #0C72FF;
  border-bottom: 4px solid #0C72FF;
}

.homePage {
  width: 60%;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

.homePage p {
  color: #000;
}

.homePage h2 {
  padding-bottom: 50px;
}

.liens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 120px auto;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.liens div {
  margin: 40px 80px;
  text-align: center;
}

.liens i {
  font-size: 50px;
  padding: 10px;
}

.liens a {
  text-decoration: none;
  color: #fff;
}

.liens a:hover {
  color: #0C72FF;
}

.box {
  width: 400px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.text, .password {
  display: block;
  border: 0;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #43464F;
  border-radius: 20px;
  padding: 12px 8px;
  width: 200px;
}

.text .text:focus, .text .password:focus, .password .text:focus, .password .password:focus {
  border-radius: 20px;
  width: 300px;
  border-color: #0C72FF;
}

.submit {
  display: block;
  border: 0;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #43464F;
  border-radius: 20px;
  padding: 12px 40px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0C72FF;
  border-color: #0C72FF;
  color: #fff;
}

.signature {
  margin: 10px;
}

.chapter {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.chapter a {
  color: #fff;
  text-decoration: none;
}

.titleH1 {
  text-align: center;
  padding: 15px;
}

form {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

form #comentaire {
  height: 100px;
}

form label, form legend {
  color: #fff;
}

#btnAjout {
  margin-top: 30px;
  margin-bottom: 30px;
}

.coms {
  color: #fff;
  text-align: center;
  margin: 10px;
}

.comentaire {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
}

footer {
  padding-top: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 30px;
  padding: 4px;
  text-align: center;
  font-size: 22px;
}

footer a {
  text-decoration: none;
  color: #0C72FF;
}
/*# sourceMappingURL=index.css.map */